@import "tailwindcss";

:root {
  --root-background: #f2f1ed;
  --background: #ffffff;
  --background-black: #1f1f1f;
  --background-gray: #f4f3f3;
  --foreground: #151515;
  --foreground-gray: #9b9a9a;
}

body {
  background: var(--root-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--background-gray);
  --color-background-black: var(--background-black);
  --color-foreground: var(--foreground);
  --color-foreground-gray: var(--foreground-gray);
}
